<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Michael/Dropbox/Duke/2013Fall/CS344 COMPUTER GRAPHICS/ClassCode/GLSL_Teapot/GLSL_Teapot.xcodeproj</string>
</dict>
</plist>
